.site {
  background-color: rgb(78, 75, 67);
  .container {  
    .row  {  
      height: 100vh;
      
      .left {
        display: flex;
        justify-content: center;
        .content {
          align-self: center;
          background-color: rgb(208, 247, 19);
          height: 50vh;
          width: 30vw;
        }
        
      }
      
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .side {
          height: 20vh;
          width: 30vw;
        }
        .info {
          align-self: center;
          background-color: rgb(249, 55, 162);
        }
        .past {
          align-self: center;
          background-color: rgb(35, 224, 60);
        }
        .questions {
          align-self: center;
          background-color: rgb(15, 89, 232);

        }
      }
    }
  }
}
